/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*		GENERAL CSS		*/

@font-face {
    font-family: Bebas;
    src: url(../font/BebasNeue.ttf);
} 

body {
	background: url("../img/debut_dark.png");
}
#logo {
	width: 400px;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 250px;
	z-index: 10;
	
	-webkit-transition: 2s ease;
	-moz-transition: 2s ease;
	transition: 2s ease;
}
#start {
	cursor: pointer;
	margin: 0 auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 300px;
	width: 168px;
	height: 72px;
	background: url("../img/start.png");
}

#game-content {
	position: relative;
	z-index: 9;
	height: 450px;
	width: 800px;
	margin: 200px auto 100px auto;
	border-radius: 5px;
	background: url("../img/fond2.png") repeat-x;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.7);
	overflow: hidden;
}
#player {
	position: absolute;
	top: 300px;
	left: 50px;
	display: none;
}
#lifeP {
	width: 150px;
	height: 40px;
	background: #942121;
	position: absolute;
	top: -280px;
	left: 10px;
	border-radius: 5px;
	border: 2px solid white;
}
#fillP {
	width: 100%;
	height: 100%;
	background: red;
	
	-webkit-transition: 2s ease;
	-moz-transition: 2s ease;
	transition: 2s ease;
}
#lifeP:before {
	content: "Pv";
	position: absolute;
	left: -45px;
	line-height: 40px;
	font-family: "Bebas",sans-serif;
	font-size: 2.5em;
}
#contain-canonP {
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 40;
	top: 130px;
	left: 140px;
}
#contain-canonP img:first-child {
	width: 100px;
	position: absolute;
	top: 0;
	z-index: 9;
}
#contain-canonP img:nth-child(2) {
	width: 100px;
	position: absolute;
	top: 8px;
	z-index: 10;
}
#contain-canonP img:last-child {
	position: absolute;
	left: 40px;
	top: 19px;
	z-index: 1;
}

#ennemy {
	position: absolute;
	top: 300px;
	right: 50px;
	display: none;
}
#lifeE {
	width: 150px;
	height: 40px;
	background: #1c1c91;
	position: absolute;
	top: -280px;
	right: 10px;
	border-radius: 5px;
	border: 2px solid white;
}
#fillE {
	width: 100%;
	height: 100%;
	background: blue;
	float: right;
	
	-webkit-transition: 2s ease;
	-moz-transition: 2s ease;
	transition: 2s ease;
}
#lifeE:after {
	content: "Pv";
	position: absolute;
	right: -45px;
	line-height: 40px;
	font-family: "Bebas",sans-serif;
	font-size: 2.5em;
}
#contain-canonE {
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 40;
	top: 130px;
	right: 40px;
}
#contain-canonE img:first-child {
	width: 100px;
	position: absolute;
	top: 0;
}
#contain-canonE img:nth-child(2) {
	width: 100px;
	position: absolute;
	top: 8px;
}
#contain-canonE img:last-child {
	position: absolute;
	right: 40px;
	top: 19px;
	z-index: 1;
}

#word {
	display: none;
	margin: 0 auto;
	position: absolute;
	right: 0;
	left: 0;
	top: 10px;
	text-align: center;
	font-family: "Bebas", sans-serif;
	font-size: 4em;
}
#wordField {
	display: none;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 40px;
	height: 40px;
	font-size: 1.2em;
	text-align: center;
	width: 35%;
    text-transform:uppercase;
}

#popup {
	width: 60%;
	height: 300px;
	background: rgba(255,255,255,0.9);
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	border-radius: 5px;
	display: none;
}
#popup h2 {
	text-align: center;
	font-family: "Bebas", sans-serif;
	font-size: 2em;
	margin: 20px 0;
}
#popup p {
	font-family: 'Oxygen', sans-serif;
	font-size: 0.9em;
	width: 90%;
	margin: 0 auto;
	line-height: 1.4em;
}
#level-start {
	cursor: pointer;
	margin: 0 auto;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	width: 100px;
	z-index: 100;

}

#CastleP {
	background: url("../img/joueur_1.png");
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	left: 800px;
}
#CastleE {
	background: url("../img/ennemi_1.png");
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 20px;
	left: 1000px;
}
